a
  display: inline-block

.CharactersCard
  border: 1px solid white
  border-radius: $default-border-radius
  width: 40rem
  height: 50rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  margin-bottom: 3rem

  &-name
    font-size: 4rem
    font-weight: 600
    height: 8rem
    text-align: center
  &-image
    width: 80%
  &-favList
    font-size: 2rem
