@import './../../styles/variables';

.Navbar {
  height: $navbar-height;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  &-btns {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
